@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    font-family: 'Italiana', serif;
    background-color: #799CB9;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}


nav a {
    color: white;
    padding: 50px;
}

a:link {
    text-decoration: none;
}