@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    font-family: 'Italiana', serif;
    background-color: #799CB9;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

p {
    color: #FABA5F;
    transform: translateX(-30%) translateY(-250%);
    font-size: 50px;
}

gif {
    transform: translateY(-72%);
}

image {
    transform: translateX
}

nav a{
    cursor: pointer;
    color: white;
    padding-top: 50px;
    padding-bottom: 300px;
    font-size: 20px;

}

a:link {
    text-decoration: none;
}