@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    font-family: 'Italiana', serif;
    background-color: #799CB9;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

p {
    color: #FABA5F;
    transform: translateX(-60%) translateY(-230%);
    font-size: 50px;
}

gif {
    transform: translateY(-70%) translateX(-20%);
}

img {
    transform: translateX(-8%);
}

nav {
    transform: translateX(530%) translateY(20%);
}

nav ul {
    color: white;
}

nav a {
    cursor: pointer;
    color: white;
    font-size: 25px;

}

a:link {
    text-decoration: none;
}